<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="k57ca.pmp.askeverywhere"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- Internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="k57ca.pmp.askeverywhere.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="k57ca.pmp.askeverywhere.LogInActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="k57ca.pmp.askeverywhere.AuthActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="k57ca.pmp.askeverywhere.UserProfile"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="k57ca.pmp.askeverywhere.AddMoreAccount"
            android:label="@string/title_activity_add_more_account" >
        </activity>
        <activity
            android:name="k57ca.pmp.askeverywhere.FacebookLogIn"
            android:label="@string/title_activity_facebook_log_in" >
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <activity
            android:name="k57ca.pmp.askeverywhere.Newsfeed"
            android:label="@string/title_activity_newsfeed" >
        </activity>

        <!-- Single List Item Activity -->
        <activity
            android:name="info.androidhive.jsonparsing.SingleContactActivity"
            android:label="Contact" >
        </activity>
        <activity
            android:name="k57ca.pmp.askeverywhere.UserProfileActivity"
            android:label="@string/title_activity_user_profile" >
        </activity>
    </application>

        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="k57ca.pmp.askeverywhere.AddConnections"
            android:label="@string/title_activity_add_connections" >
        </activity>                    
    </application>  
</manifest>
